@import url('https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap');
*{
    margin: 0;
    padding: 0;
}

body{
    background-color: green;
    text-align: center;
    margin-top: 100px;
}

h2{
    color: solid black;
    font-size: 70px;
    margin-bottom: 100px;
    font-family: 'New Tegomin', serif;
}

p{
    font-size: 40px;
    margin-bottom: 100px;
    font-family: 'New Tegomin', serif;
}

.btnplay{
    width: 200px;
    height: 50px;
    font-size: 30px;
    margin-bottom: 100px;
    box-shadow: 6px 5px darkgray;
    border-radius: 8px;
    color: white;
    
}

button{
    background-color: #F18701;
    border-radius: 10px;
    border-color: #F18701;
}